<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly</title>

    <link rel="stylesheet" href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body class="text-bg-dark">

<!--header-->
<header class="py-2 px-4">
    <div>
        <a class="float-md-start nav-link fw-bold py-1 px-0" href="/">Stay Focused</a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" aria-current="page"
               href="/productivity/week">Weekly productivity</a>
            <a class="nav-link fw-bold py-1 px-0"
               href="/productivity/month">Monthly productivity</a>
        </nav>
    </div>
</header>

<main>
    <!--date picker-->
    <div class="container">
        <form method="get" th:action="@{/productivity/month}" th:object="${months}">
            <div class="form-group row align-items-end">
                <div class="col-md-4 mt-2">
                    <label for="from">Date from</label>
                    <div class="input-group date">
                        <input type="date" class="form-control" id="from" autocomplete="off" th:name="from"/>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <label for="to">Date to</label>
                    <div class="input-group date">
                        <input type="date" class="form-control" id="to" autocomplete="off" th:name="to"/>
                    </div>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Show</button>
                </div>

            </div>
        </form>
    </div>

    <div class="m-5 card">
        <div class="card-header text-black h4 text-center">Months productivity</div>
        <div class="card-body">

<!--            months productivity table-->
            <div class="table-responsive">
                <table class="table table-striped table-sm">
<!--                    table headers-->
                    <thead>
                    <th>Task</th>
                    <th>Category</th>
                    <th th:each="number : ${#numbers.sequence(1, months.getCount())}"
                        th:text="'Month ' + ${number}"></th>
                    <th>Total</th>
                    </thead>
<!--                    table body-->
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</main>
<!--footer-->
<footer class="py-3 text-center text-white-50">
    <div class="container">
        <p>Created by Michael <a href="https://www.t.me/FLlGHT" class="text-white">"flight"</a> Fedorenko</p>
    </div>
</footer>

<script src="/scripts/productivity.js"></script>

</body>
</html>