<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" class="h-100">
<head>
    <title>SF</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/productivity.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="text-bg-dark">

<!--header-->
<header class="py-2 px-4">
    <div>
        <a class="float-md-start nav-link fw-bold py-1 px-0" href="/">Stay Focused</a>
        <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" aria-current="page"
               href="/productivity/week">Weekly productivity</a>
            <a class="nav-link fw-bold py-1 px-0"
               href="/productivity/month">Monthly productivity</a>
        </nav>
    </div>
</header>

<main>

<!--    date picker-->
    <div class="container">
        <form method="get" th:action="@{/productivity/week}" th:object="${weeks}">
            <div class="form-group row align-items-end">
                <div class="col-md-4 mt-2">
                    <label for="from">Date from</label>
                    <div class="input-group date">
                        <input type="date" class="form-control" id="from" autocomplete="off" th:name="from"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mt-2">
                    <label for="to">Date to</label>
                    <div class="input-group date">
                        <input type="date" class="form-control" id="to" autocomplete="off" th:name="to"/>
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Show</button>
                </div>

            </div>
        </form>
    </div>

<!--    productive info-->
    <div class="d-flex m-5 py-5">
        <div class="сol col-md-9">

<!--            weeks productivity table-->
            <div class="card mx-auto">
                <div class="card-header text-black h4 text-center">Weeks productivity</div>
                <div class="card-body">
                    <table id="table" class="table align-middle bg-white">
                        <thead class="bg-light">
                        <tr class="text-nowrap">
                            <th>Task</th>
                            <th>Category</th>
                            <th th:each="i : ${#numbers.sequence(1, stats.getWeeksNumber())}"
                                th:text="'Week ' + ${i}"></th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task : ${tasks}">
                            <td>
                                <div class="d-flex justify-content-start text-md-start">
                                    <div class="col-sm-12">
                                        <p class="fw-bold mb-1 text-nowrap" th:text="${task.name}"></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="fw-normal mb-1 text-nowrap" th:text="${task.category}"></p>
                            </td>
                            <td th:each="i : ${#numbers.sequence(0, stats.getWeeksNumber() - 1)}">
                                <p class="fw-normal" th:text="${task.timeByWeek[i]}"></p>
                            </td>
                            <td>
                                <p class="fw-normal" th:text="${task.totalTime}"></p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


<!--            weeks stats-->
            <div class="card mx-auto">
                <div class="card-body">
                    <table class="table align-middle bg-white">
                        <thead class="bg-light">
                        <tr class="text-nowrap">
                            <th>Task</th>
                            <th></th>
                            <th th:each="i : ${#numbers.sequence(1, stats.getWeeksNumber())}"
                                th:text="'Week ' + ${i}"></th>
                            <th>Total</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td class="col-sm-12">
                                <p class="text-nowrap fw-bold ">Total time: </p>
                            </td>
                            <td>

                            </td>
                            <td th:each="i : ${#numbers.sequence(0, stats.getWeeksNumber() - 1)}">
                                <p class="fw-normal" th:text="${stats.timeByWeek[i]}"></p>
                            </td>
                            <td>
                                <p class="fw-normal" th:text="${stats.totalProductiveTime}"></p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p class="text-nowrap fw-bold">Percentage: </p>
                            </td>
                            <td>

                            </td>
                            <td th:each="i : ${#numbers.sequence(0, stats.getWeeksNumber() - 1)}">
                                <p class="fw-normal text-nowrap" th:text="${stats.percentageByWeek[i]} + '%'"></p>
                            </td>
                            <td>
                                <p class="fw-normal text-nowrap" th:text="${stats.totalPercentage} + ' %'"></p>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


        </div>

<!--           weeks stats-->
        <div class="col col-md-3">
            <div class="card">
                <div class="card-header text-black h4 text-center"> Month stats</div>
                <div class="card-body">
                    <p class="text-black" th:text="'Productive time: ' + ${stats.totalProductiveTime}"></p>
                    <p class="text-black" th:text="'Total time: ' + ${stats.totalTime}"></p>
                    <p class="text-black" th:text="'Productivity percentage: '+ ${stats.totalPercentage} + '%'"></p>
                </div>
            </div>
        </div>
    </div>

</main>

<!--footer-->
<footer class="py-3 text-center text-white-50">
    <div class="container">
    <p>Created by Michael <a href="https://www.t.me/FLlGHT" class="text-white">"flight"</a> Fedorenko</p>
    </div>
</footer>

<script src="/scripts/productivity.js"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>